# Environments
.env
.env.local
.env.*.local
.env.example
**/.env.local
**/.env.example

# Dependencies
node_modules/
**/node_modules/
.pnpm-store/
**/.pnpm-store/

# Next.js & Build
.next/
**/.next/
out/
dist/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Turbo
.turbo/
**/.turbo/

# Debug
*-debug.log*
